@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Global Windows Azure Bootcamp 2015</h1>

        <br />

        <h2>ASP.NET Identity de dentro das trincheiras</h2>
        <p class="lead">ASP.NET Identity - O céu é o limite para a segurança integrada de suas aplicações ASP.NET</p>
    </center>
        
    
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Aprenda Mais... &raquo;</a></p>
</div>